# Node
/ghost-blog/node_modules/
npm-debug.log*
/ghost-blog/yarn.lock

# Ghost (NUNCA versionar)
/ghost-blog/current/
/ghost-blog/versions/
/ghost-blog/core/
/ghost-blog/content/
/ghost-blog/.config.*
/ghost-blog/.ghost-cli
/ghost-blog/.ghostpid

# Configs sensibles
/ghost-blog/config.development.json
/ghost-blog/config.production.json

# OS
.DS_Store
.env
